In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# read data into a DataFrame
data = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)
data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [22]:
data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [40]:
# create X and y
feature_cols = ['TV', 'Radio', 'Newspaper']
#feature_cols = ['TV']
X = data[feature_cols]
y = data.Sales

In [36]:
# follow the usual sklearn pattern: import, instantiate, fit
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [37]:
# print intercept and coefficients
print lm.intercept_
print lm.coef_

7.03259354913
[ 0.04753664]

In [38]:
# pair the feature names with the coefficients
zip(feature_cols, lm.coef_)

[('TV', 0.047536640433019757)]

In [39]:
# calculate the R-squared
lm.score(X, y)

0.61187505085007099

In [34]:
# predict for a new observation
lm.predict([[100, 25, 25]])

array([ 12.19643709])

1      37.8
2      39.3
3      45.9
4      41.3
5      10.8
6      48.9
7      32.8
8      19.6
9       2.1
10      2.6
11      5.8
12     24.0
13     35.1
14      7.6
15     32.9
16     47.7
17     36.6
18     39.6
19     20.5
20     23.9
21     27.7
22      5.1
23     15.9
24     16.9
25     12.6
26      3.5
27     29.3
28     16.7
29     27.1
30     16.0
       ...
171    11.6
172    20.9
173    20.1
174     7.1
175     3.4
176    48.9
177    30.2
178     7.8
179     2.3
180    10.0
181     2.6
182     5.4
183     5.7
184    43.0
185    21.3
186    45.1
187     2.1
188    28.7
189    13.9
190    12.1
191    41.1
192    10.8
193     4.1
194    42.0
195    35.6
196     3.7
197     4.9
198     9.3
199    42.0
200     8.6
Name: Radio, dtype: float64